name: Nix flake test

on:
  pull_request:
  push:
    branches: [main]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5.0.1
      - uses: DeterminateSystems/nix-installer-action@v21
      - run: nix build
      - run: nix flake check
